@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: linear-gradient(#2b1055, #7597de);
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #2b1055;
}

#section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}

#section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#section img#moon {
  mix-blend-mode: screen;
}

#section img#mountains_front {
  z-index: 10;
}

#text {
  position: absolute;
  right: -350px;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}

#btn {
  text-decoration: none;
  padding: 8px 30px;
  background: #fff;
  color: #2b1055;
  font-size: 1.5em;
  display: inline-block;
  z-index: 9;
  transform: translateY(100px);
  border-radius: 40px;
}

.sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
}

.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

.sec p {
  font-size: 1.2em;
  color: #fff;
}

.sec2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #131313;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  transform-style: preserve-3d;
}

.container .box {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 40px auto;
  background: #232323;
  border-radius: 20px;
  transform-style: preserve-3d;
}

.container .box::before {
  content: "MOON";
  position: absolute;
  top: 20px;
  left: 5px;
  font-size: 5.4em;
  color: #fff;
  font-style: italic;
  opacity: 0;
  font-weight: 700;
}

.container .box:hover::after {
  content: "LIGHT";
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 5.9em;
  font-weight: 900;
  color: #fff;
  font-style: italic;
  opacity: 0;
  transition: 0.8s;
}

.container .box:hover::before,
.container .box:hover::after {
  opacity: 0.04;
}

.container .box .name {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 75px);
  transition: 0.8s;
  opacity: 0;
  z-index: 10;
}

.container .box:hover .name {
  top: 40px;
  opacity: 1;
}

.container .box .explore1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate3d(-50%, 0, 75px);
  color: #ffffff;
  background: #b92525;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.8s;
  opacity: 0;
  z-index: 10;
  transition: 0.8s;
}

.container .box:hover .explore1 {
  bottom: 30px;
  opacity: 1;
}
.container .box .explore2 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate3d(-50%, 0, 75px);
  color: #fff;
  background: #b9b2b2;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.8s;
  opacity: 0;
  z-index: 10;
  transition: 0.8s;
}

.container .box:hover .explore2 {
  bottom: 30px;
  opacity: 1;
}
.container .box .explore3 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate3d(-50%, 0, 75px);
  color: #fff;
  background: #ccc933;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.8s;
  opacity: 0;
  z-index: 10;
  transition: 0.8s;
}

.container .box:hover .explore3 {
  bottom: 30px;
  opacity: 1;
}

.container .box .type {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 280px;
  transition: 0.8s;
  z-index: 12;
  transition: 0.8s;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 0px) rotate(-15deg);
}

.container .box:hover .type {
  transform: translate3d(-50%, -50%, 100px) rotate(-15deg);
}

.container .box .type2 {
  position: absolute;
  height: 190px;
  top: 50%;
  left: 50%;
  max-width: 280px;
  transition: 0.8s;
  z-index: 12;
  transition: 0.8s;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 0px) rotate(-15deg);
}

.container .box:hover .type2 {
  transform: translate3d(-50%, -50%, 100px) rotate(-15deg);
}

.container .box .type3 {
  position: absolute;
  height: 190px;
  top: 50%;
  left: 50%;
  max-width: 280px;
  transition: 0.8s;
  z-index: 12;
  transition: 0.8s;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 0px) rotate(-15deg);
}

.container .box:hover .type3 {
  transform: translate3d(-50%, -50%, 100px) rotate(-15deg);
}

#moons {
  background: url(images/spacebg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transform-style: preserve-3d;
}

.earth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-size: cover;
  background-repeat: repeat-x;
  background: url("https://i.pinimg.com/564x/e6/8c/22/e68c2253c9a41fb1287810a1d1ed14cc.jpg");
  border-radius: 50%;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 50px #4069ff;
  animation: animateEarth 15s linear infinite;
}

@keyframes animateEarth {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 720px 0;
  }
}

.moon {
  position: absolute;
  top: 25%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: repeat-x;
  background: url("https://svs.gsfc.nasa.gov/vis/a000000/a004700/a004720/lroc_color_poles_1k.jpg");
  border-radius: 50%;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 50px #a8a8a8;
  animation: animateEarth 15s linear infinite;
}

.circle {
  transform-style: preserve-3d;
  animation: animateText 10s linear infinite;
}

.circle span {
  position: absolute;
  top: 0;
  left: 0;
  background: #eeeeee;
  color: #1a1616;
  font-size: 2em;
  transform-origin: center;
  transform-style: preserve-3d;
  border-top: 5px solid #fc9309;
  border-bottom: 5px solid #11551b;
  padding: 5px 15px;
  transform: rotateY(calc(var(--i) * calc(360deg / 27))) translateZ(200px);
}

.circle span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #132216;
  transform: translateZ(-5px);
}

@keyframes animateText {
  0% {
    transform: perspective(1000px) rotateY(360deg) rotateX(15deg)
      translateY(-30px);
  }
  100% {
    transform: perspective(1000px) rotateY(0deg) rotateX(15deg)
      translateY(-30px);
  }
}

